.common-width{
  width: 80%;
  margin: auto;
}

.menu2{
 display: flex;

}
.menu2 li{
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.link-1{
  --i:1;
}
.link-2{
  --i:2;
}
.link-3{
  --i:3;
}
.link-4{
  --i:4;
}
.link-5{
  --i:5;
}
.link-6{
  --i:6;
}
.menu2 li a{
  display: inline-block;
  padding: 6px;
  transition: 0.5s;
  border-bottom: 3px solid rgba(8, 177, 244, 0);
 opacity: 0;
 animation:  sliderTop .5s ease forwards;
 animation-delay: calc(.2s * var(--i));
}
/* .menu2 li a:is(:link, :active, :visited).active{
  background-color: green !important;
} */
.menu2 li a:hover{
  
border-bottom: 3px solid rgb(8, 177, 244);
}


#Contract{
  background-image:linear-gradient(rgba(8, 16, 88, 0.607), rgba(0, 0, 0, 0.305)), url(../assast/Email-bg/email-gb.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.connect-bg-color{
  position: absolute;
  left: 0;
  top: -30px;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(8, 16, 88, 0.607));
}
.nav-logo{
  opacity: 0;
  animation:  sliderRight 1s ease forwards;
}

.banner-fast-header-1{
  opacity: 0;
  animation:  sliderBottom 1s ease forwards;
  animation-delay: .5s;
}
.banner-fast-header-2{
  opacity: 0;
  animation:  sliderTop 1s ease forwards;
  animation-delay: .5s;
}
.banner-name{
  opacity: 0;
  animation:  sliderRight 1s ease forwards;
  animation-delay: 1s;
}
.banner-p{
  opacity: 0;
  animation:  sliderLeft 1s ease forwards;
  animation-delay: 1s;
}

.button-box{
  opacity: 0;
  animation:  sliderTop 1s ease forwards;
  animation-delay: 2s;
}
.banner-img{
  opacity: 0;
  animation:  zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2s, 3s;
}
.service-card{
  background-color: rgba(1, 23, 37, 0.714);
  /* border: 2px solid #25c6f7; */
  border-radius: 20px;
  transition: 0.5s;
  border: 2px solid rgba(1, 23, 37, 0.714);
  cursor: pointer;
}
.service-card:hover{
  /* background-color: rgba(1, 23, 37, 0.714); */
  border: 2px solid #25c6f7;
  transform: scale(1.02);

}

.service-blur{
  background: linear-gradient(#e60fbb49, #209eff60) ;
  position: absolute;
  bottom: -260px;
  left: -350px;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  z-index: -9;
  filter: blur(92px);
}


.read-btn{
  background-color: #25c6f7;
  padding: 6px 20px;
  border-radius: 20px;
  box-shadow: 15px 24px 21px -14px #25c6f7;
  color: rgb(29, 29, 74);
  margin-top: 15px;
  

}
/* //connect us code  */
.user-box{
  position: relative;
}
.user-box input{
  padding: 10px 5px;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid ;
  outline: none;
  background: transparent;
}
.user-box input:focus{
  border-bottom-color: #25c6f7;
}
.user-box label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #25c6f7;
  font-size: 13px;
}
.input-3{
  background: transparent;
}
.email-shadow-set{
  box-shadow: 0 0 10px #25c6f7;
}
/* .send-box{
  position: relative;
  display: inline-block;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 5px;
}
.send-box input{
  background-color: #25c6f7;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px #25c6f7;
}
.send-box input:hover{
  background-color: #25c6f7;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px #25c6f7;
}
.send-box span{
  position: absolute;
  display: block;
}
.send-box span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #25c6f7);
  animation: anim1 1s linear infinite;
}
@keyframes anim1 {
  0%{
    left: -100%;
  }
  50%,
  100%{
    left: 100%;
  }
}
.send-box span:nth-child(2){
  top: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #25c6f7);
  animation: anim2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes anim2 {
  0%{
    top: -100%;
  }
  50%,
  100%{
    top: 100%;
  }
}
.send-box span:nth-child(3){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #25c6f7);
  animation: anim1 1s linear infinite;
  animation-delay: 0.5s;

}
@keyframes anim3 {
  0%{
    right: -100%;
  }
  50%,
  100%{
    right: 100%;
  }
}
.send-box span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #25c6f7);
  animation: anim4 1s linear infinite;
  animation-delay: 0.75s;

}
@keyframes anim4 {
  0%{
    bottom: -100%;
  }
  50%,
  100%{
    bottom: 100%;
  }
} */







/* KEYFRAMES ANIMATION  */
@keyframes sliderRight {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes sliderTop {
  0%{
    transform: translateY(100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sliderBottom {
  0%{
    transform: translateY(-100px);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sliderLeft {
  0%{
    transform: translateX(100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes zoomIn {
  0%{
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes floatImage {
  0%{
    transform: translateY(0);
    /* opacity: 0; */
  }
  50%{
    transform: translateY(-24px);
    /* opacity: 0; */
  }
  100%{
    transform: translateY(0);
    /* opacity: 1; */
  }
}






/* My Skills section code here  */
/* .node{
  background: rgb(122, 0, 128);
  animation:  node 1s linear forwards;
};
.redux{
  background: rgb(128, 45, 0);
  animation:  redux 1s linear forwards;
};
.express{
  background: green;
  animation:  express 1s linear forwards;
};
.mongo{
  background: red;
  animation:  mono 1s linear forwards;
}; */


/* color animation for 4st progress bar  */
.mask .fill-4{
  clip: rect(0px, 75px, 150px, 0px);
  background-color: red;
}
.mask .fill-4,
.circle .fill-4{
  animation: fill-4 ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill-4{
  0%{
   transform: rotate(0deg);
  }
  100%{
    transform: rotate(153deg);
  }
}