.col-left{
  /* width: 50px;
  height: 360px; */
}

.about-img{
  /* height: 100%;
  width: 100%; */
  position: relative;
  border-left: 12px solid rgb(15, 29, 54);
  border-bottom: 10px solid rgb(15, 29, 54);
  
  /* border: 10px solid rgb(15, 29, 54); */
}
.about-img img{
  box-shadow:4px -4px 17px -4px #25c6f7;
}
.about-img::after{
 content: "";
  position: absolute;
  left: -33px;
  top: 22px;
  height: 100%;
  width: 100%;
  padding-bottom: 20px;
  border: 7px solid #25c6f7;
  z-index: -1;
}
.secound-title{
  display: inline-block;
  border-bottom: 3px solid #25c6f7;
}